.site-statistic-demo-card {
    background: #F4F6F9;
    padding: 30px;
  }
    [data-theme="dark"] .site-statistic-demo-card {
      background: #F4F6F9;
    }


    .gutter-box {
      padding: 8px 0;
      background: #00a0e9;
    }

    .site-layout-content {
      background: #ffffff;
      padding: 24px;
      min-height: 250px;
      border:1px solid rgb(226, 225, 225);
    }
 